.default {
    .default-title {
        text-align: center;
        font-size: 30px;
        padding: 200px 0;
    }
    .au-col:hover{
        background: #F2F2F2;
        cursor:pointer;
    }
    .au-col{
        text-align: center;
        line-height: 25px;

    }

}
